<% remote = false unless remote %>
<%= simple_form_for(@household_item, remote: remote) do |f| %>
  <%= render 'shared/error_box', object: @household_item %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :volume %>
  </div>
  <div class="field">
    <%= f.input :quantity %>
  </div>
  <div class="field">
    <%= f.input :tag %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>

  <div class="actions">
    <%= f.submit submit_text, class: "btn btn-primary" %>
  </div>
<% end %>
