<% remote = false unless remote %>
<%= simple_form_for(@household_item, remote: remote) do |f| %>
  <%= render 'shared/error_box', object: @household_item %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="field">
        <%= f.input :volume, input_html: { min: '0', step: 'any', value: '0' } %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="field">
        <%= f.input :quantity, input_html: { min: '1', step: '1', value: '1' } %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.input :tag %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>

  <div class="actions">
    <%= f.submit submit_text, class: "btn btn-primary" %>
  </div>
<% end %>
