<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Volume</th>
      <th>Quantity</th>
      <th>Tag</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @household_items.each do |household_item| %>
      <tr>
        <td><%= household_item.name %></td>
        <td><%= household_item.volume %></td>
        <td><%= household_item.quantity %></td>
        <td><%= household_item.tag %></td>
        <td><%= household_item.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
