<tr>
  <td><%= household_item.name %></td>
  <td><%= household_item.volume %></td>
  <td><%= household_item.quantity %></td>
  <td><%= household_item.tag %></td>
  <td><%= household_item.description %></td>
</tr>
