<tr>
  <td><%= household_item.name %></td>
  <td><%= household_item.volume %></td>
  <td><%= household_item.quantity %></td>
  <td><%= household_item.tag %></td>
  <td><%= household_item.description %></td>
  <td><%= link_to 'Show', household_item %></td>
  <td><%= link_to 'Edit', edit_household_item_path(household_item) %></td>
  <td><%= link_to 'Destroy', household_item,
                             method: :delete,
                             remote: true,
                             data: { confirm: 'Are you sure?' } %></td>
</tr>
